<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List INote</title>
</head>
<body>
    <h1>INote List</h1>
    <form>
        Search by first Title:
        <input name="s" type="text"/>
        <input type="submit" value="Search"/>
    </form><br/>
    <a th:href="@{/create-inote}">Create a INote</a>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>Notetype</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="inote : ${iNotes}">
            <tr>
                <td th:text="${inote.id}"></td>
                <td th:text="${inote.getTitle()}"></td>
                <td th:text="${inote.getContent()}"></td>
                <td><a th:href="@{/edit-notetype/__${inote.notetype.getId()}__}" th:text="${inote.notetype.name}"></a></td>
                <td><a th:href="@{/edit/__${inote.getId()}__}">Edit</a></td>
                <td><a th:href="@{/delete/__${inote.getId()}__}">Delete</a></td>
            </tr>
        </th:block>
        <div>
            <a th:href="@{'/index'(page=${iNotes.number - 1})}" th:if="${iNotes.hasPrevious()}">Previous</a>
            <span th:text="${iNotes.number + 1}"></span>/<span th:text="${iNotes.totalPages}"></span>
            <a th:href="@{'/index'(page=${iNotes.number + 1})}" th:if="${iNotes.hasNext()}">Next</a>
        </div>
    </table>
</body>
</html>