<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Notetype</title>
</head>
<body>
    <h1>Create a Notetype!</h1>
    <a href="/notetypes">Back to List</a>
    <form th:action="@{/create-notetype}" th:object="${notetype}" th:method="post">
        <table>
            <tr>
                <td>Name:           </td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Description:    </td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>